#new-order-content {
  display: flex;
  width: auto;
  overflow-x: scroll;
}

#create-order-button {
  cursor: pointer;
}

#missing-name-error {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .new-order-input {
    width: 8rem;
    font-size: 12px;
  }
  input {
    font-size: 12px;
  }
}

@media only screen and (max-width: 770px) {
  .new-order-input {
    width: 6rem;
    font-size: 10px;
  }
  input {
    font-size: 10px;
  }
}

@media only screen and (max-width: 512px) {
  .new-order-input {
    width: 4rem;
    font-size: 8px;
  }
  input {
    font-size: 8px;
  }
}