.new-order-input,
#add-new-input-button {
  width: 10rem;
  border: solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
  flex: 0 0 auto;
}

.input-name {
  display: flex;
}

.amount-input {
  display: flex;
}

#add-new-input-button:hover {
  cursor: pointer;
  background-color: rgb(208, 208, 208);
}

#add-new-input-button:active {
  background-color: rgb(128, 128, 128);
}

.delete-input {
  text-align: center;
  border-radius: 0.5rem;
  width: 1rem;
  cursor: pointer;
  color: red;
}

.delete-input:hover {
  background-color: rgb(255, 238, 238);
}

.delete-input:active {
  background-color: rgb(255, 154, 154);
}

.new-order-input-content {
  padding: 1rem;
  padding-top: 0;
}

.name-label {
  text-align: center;
  display: block;
}
.dollar-sign {
  margin-right: 0.25rem;
}

.input-header {
  display: flex;
  justify-content: space-between;
}

.who-paid-button {
  cursor: pointer;
}